<div class="centering">  
   
    <form class="container border border-primary rounded p-4 " >
      <h1>Register</h1>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">GST Number</label>
        <input type="text" class="form-control" id="exampleInputGST" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Aadhar Number</label>
        <input type="text" class="form-control" id="exampleInputAadhar" aria-describedby="emailHelp">
      </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">PAN</label>
          <input type="text" class="form-control" id="exampleInputPAN" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Product Category and Description</label>
            <input type="text" class="form-control" id="exampleInputPCD" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Company Details</label>
            <input type="text" class="form-control" id="exampleInputCD" aria-describedby="emailHelp">
          </div>
      
      
        <input type="submit"  value="Verify">
       
    </form>
  </div>
  
  <footer class="footer bg-primary">
    Footer
  </footer>
