<div class="centering">  
    <a href="#">Online Shopping</a>
    <form class="container border border-primary rounded p-3">
      <h1>Register</h1>
      <div class="mb-1">
        <label class="form-label">Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-1">
        <label  class="form-label">Mobile Number</label>
        <input type="number" class="form-control">
      </div>
        <div class="mb-1">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-1">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
       
        <input type="submit" value="Sign Up" >
        <div class="register">
          Already User? <a data-toggle="modal" routerLink=""  data-target="#exampleModalScrollable">Login</a>
        </div>
        <div class="retailer">
            Buying for Work? <a routerLink="/Register">Register for Business account</a>
          </div>
    </form>
  </div>
  
  <footer class="footer bg-primary">
    Footer
  </footer>
