<div class="centering">  
    <a href="#">Online Shopping</a>
    <form class="container border border-primary rounded p-3" [formGroup]="Registerform" (ngSubmit)="Submitregister()" novalidate>
      <h1>Register</h1>
      <div class="mb-1">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="Name">
      </div>
      <div *ngIf="!Name?.valid && (Name?.dirty || Name?.touched)" class="error">
        <div *ngIf="Name!.errors!.required">
          <p style="color:red;">Full Name is required</p>
        </div>
        <div *ngIf="Name!.errors!.pattern">
          <p style="color: red;">Enter Name in correct format</p>
        </div>
     </div>
      <div class="mb-1">
        <label  class="form-label">Mobile Number</label>
        <input type="number" class="form-control" formControlName="Mobile">
      </div>
      <div *ngIf="!Mobile?.valid && (Mobile?.dirty || Mobile?.touched)" class="error">
        <div *ngIf="Mobile!.errors!.required">
          <p style="color: red;">mobile number is required</p>
        </div>
        <div *ngIf="Mobile!.errors!.pattern">
          <p style="color: red;">Enter correct mobile number</p>
        </div>
      </div>
        <div class="mb-1">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" formControlName="Email" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div *ngIf="!Email?.valid && (Email?.dirty || Email?.touched)" class="error">
          <div *ngIf="Email!.errors!.required">
            <p style="color: red;">Email is required</p>
          </div>
          <div *ngIf="Email!.errors!.pattern">
            <p style="color: red;">Enter the correct email</p>
          </div>
        </div>
        <div class="mb-1">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" formControlName="Password" class="form-control" id="exampleInputPassword1">
        </div>
        <div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="error">
          <div *ngIf="Password!.errors!.required">
            <p style="color: red;">Password is required</p>
          </div>
          <div *ngIf="Password!.errors!.pattern">
            <p style="color: red;">Password should contain Minimum eight characters,first letter should be upper case and should have atleast one number,lowercase and special characters</p>
          </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
       
        <input type="submit" value="Sign Up" >
        <div class="register">
          Already User? <a data-toggle="modal" routerLink=""  data-target="#exampleModalScrollable">Login</a>
        </div>
        <div class="retailer">
            Buying for Work? <a routerLink="/Register">Register for Business account</a>
          </div>
    </form>
  </div>
  
  <footer class="footer bg-primary">
    Footer
  </footer>
