<!--User Header-->
<nav class="navbar navbar-expand-lg  fixed-top bg-primary">
    <div class="container-fluid">
        <button type="button" class="btn btn-primary"  ><b>Profile</b></button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0   " >
          <li class="nav-item">
            <button type="button" class="btn btn-primary" routerLink="/ProductDetails" ><b>Product Details</b></button>
          </li>
        </ul>
        <p style ="color: cornsilk;"><b>Welcome ,{{name}}</b></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <form class="d-flex">
            <!-- Button trigger modal -->
           <button type="button" class="btn btn-primary" routerLink="/Forgot Password">
             <b>Change Password</b>
           </button>
         </form>
      
        <form class="d-flex">
          
         <button type="button" class="btn btn-primary" (click)="LogOff()" routerLink="" >
           <b>Logout</b>
         </button>
       </form>
      </div>
    </div>
  </nav>
  <br>
  <br>


<!--Retailer Profile-->
<div class="container">
    <div class="main-body">
<div class="col-md-8">
    <div class="card mb-3" >
      <div class="card-body" *ngFor="let retailer of Retailer">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Name</h6>
          </div>
          <div class="col-sm-9 ">
            {{retailer.retailername}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 ">
           {{retailer.retaileremail}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Mobile Number</h6>
          </div>
          <div class="col-sm-9 ">
            {{retailer.mobNo}}
          </div>
        </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">GST</h6>
        </div>
        <div class="col-sm-9 ">
         {{retailer.gst}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">PAN</h6>
        </div>
        <div class="col-sm-9 ">
         {{retailer.pan}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Aadhar</h6>
        </div>
        <div class="col-sm-9 ">
         {{retailer.aadhar}}
        </div>
      </div>
      <hr>

        <div class="row">
          <div class="col-sm-12">
          
          
              <a class="btn btn-secondary" target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Back</a>
            
                
                 
                
        </div>
      </div>
    </div>
    </div>
    </div>
 