<div class="centering">  
    <a class="nav-link " href="#">Online Shopping</a>
    <form class="container border border-primary rounded p-3">
      <h1>Forgot Password</h1>
      
        <div class="mb-3">
          <label class="form-label">Email address or Mobile Number</label>
          <input type="text" class="form-control" >
        </div>
        
        <input type="submit" value="Submit" routerLink="/UserOTP">

        <div class="login">
          <a data-toggle="modal" data-target="#exampleModalScrollable" routerLink="">Back</a>
        </div>
    </form>
  </div>
  
  <footer class="footer bg-primary">
    Footer
  </footer>
