<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!--<app-cart></app-cart>-->
<!--<app-wishlist></app-wishlist>-->
<!--<app-user-profile></app-user-profile>-->
<!--<app-compare></app-compare>-->
<!--<app-product-des></app-product-des>-->
<!--<app-admin></app-admin>-->
<!--<app-login></app-login>-->
<!--app-nav-bar></app-nav-bar>-->

 
<router-outlet></router-outlet>
