<!-- Button trigger modal -->
r Header-->
<nav class="navbar navbar-expand-lg  fixed-top bg-primary">
    <div class="container-fluid">
        <button type="button" class="btn btn-primary"  ><b>Profile</b></button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0   " >
          <li class="nav-item">
            <button type="button" class="btn btn-primary" (click)="PendingProducts()" routerLink="/PendingProducts" ><b>Products</b></button>
          </li>
         
        </ul>
        <p style ="color: cornsilk;"><b>Welcome {{name}}</b></p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <form class="d-flex">
            <!-- Button trigger modal -->
           <button type="button" class="btn btn-primary" routerLink="/Forgot Password">
             <b>Change Password</b>
           </button>
         </form>
        
        <form class="d-flex">
        
         <button type="button" class="btn btn-primary" (click)="LogOff()" routerLink="" >
           <b>Logout</b>
         </button>
       </form>
      </div>
    </div>
  </nav>
  <br>
  <br>



   
   <!-- Modal -->
   <div class="modal fade" id="AddRetailer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalCenterTitle">Add Retailer</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
             <form>
                 <div class="mb-3">
                     <label for="" class="form-label"> Id</label>
                     <input type="number" class="form-control" id="RetailerId">
                  </div>
                  <div class="mb-3">
                     <label for="" class="form-label"> Name</label>
                     <input type="text" class="form-control" id="RetailerName">
                  </div>
                 <div class="mb-3">
                   <label for="exampleInputEmail1" class="form-label">Email address</label>
                   <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                 <label for="" class="form-label"> Mobile Number</label>
                 <input type="number" class="form-control" id="MobileNumber">
              </div>
                 
                                
             </form>
         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-primary">Submit</button>
         </div>
       </div>
     </div>
   </div>
   
 
 <!--table-->
   <div class="container">
       <div class="card">
           <div class="card-body">
             <table class="table table-striped">
                 <thead>
                   <tr>
                     <th scope="col">Retailer ID</th>
                     <th scope="col">Retailer Name</th>
                     
                     <th scope="col">GST</th>
                     <th scope="col">Aadhar</th>
                     <th scope="col">PAN</th>
                     <th scope="col">Mobile Number</th>
                     <th scope="col">Status</th>
                     

                     
                     <th scope="col">Actions</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr  *ngFor = "let retailer of retailerList">
                   
                     <td>{{retailer.retailerid}}</td>
                     <td>{{retailer.retailername}}</td>
                     <td>{{retailer.mobNo}}</td>
                     <td>{{retailer.gst}}</td>
                     <td>{{retailer.pan}}</td>
                     <td>{{retailer.aadhar}}</td>
                     <td>{{retailer.approved}}</td>
                    
                     <td><button class="btn btn-success m-1"   (click) = "ApproveRetailers(retailer.retailerid)">Approve</button><button class="btn btn-danger"     (click) = "RemoveRetailer(retailer.retailerid)">Delete</button></td>
                   </tr>
                   
                 
                 </tbody>
               </table>
           </div>
 
       </div>
   </div>
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddRetailer">
    Add Retailer
   </button>
