.modal-dialog {
    height: 77% ;
    padding-top:5%;
  }
  
  .modal-content {
    height: 100%;
    
  }
  
  .modal-body {
    height: 76%;
   
  }
  .register, .retailer{
    text-align: center;
    margin: 10px 0;
    color: #666666;
}
.register a, .retailer a{
    text-decoration: none;
    color:  #2691d9;
}
.register a:hover, .retailer a:hover{
    text-decoration: underline;
}
